{% extends "base.html" %}
{% load static %}

{% block title %} WebOS {% endblock title %}

{% block content %}
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Oxygen+Mono" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/webos/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/webos/calc.css' %}">
    <link rel="stylesheet" href="{% static 'css/webos/todo.css' %}">


{% endblock content %}
