{% load static %}

<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Web OS</title>
        <link
            href="https://fonts.googleapis.com/css?family=Open+Sans"
            rel="stylesheet"
            />
        <link
            href="https://fonts.googleapis.com/css?family=Oxygen+Mono"
            rel="stylesheet"
            />
        <link
            href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500"
            rel="stylesheet"
            />
        <link
            href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
            rel="stylesheet"
            />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/webos/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/webos/css/calc.css' %}">
        <link rel="stylesheet" href="{% static 'css/webos/css/todo.css' %}">
    </head>

    <body class="disable-select">
        <div id="starting-win">
            <img src="{% static 'images/webos/icon_windows_blue.png' %}" alt="staring windows" /> <br />
            <div class="ring">
                <div class="indicator-1 indeterminate-ring"></div>
                <div class="indicator-2 indeterminate-ring"></div>
                <div class="indicator-3 indeterminate-ring"></div>
                <div class="indicator-4 indeterminate-ring"></div>
                <div class="indicator-5 indeterminate-ring"></div>
            </div>
        </div>

        <div id="loader">
            <i
                class="fa fa-cog fa-spin fa-3x fa-fw"
                style="color: rgba(162, 162, 162, 0.5)"
                ></i>
            <span class="sr-only">加载中……</span>
        </div>

        <div id="main" contextmenu="alert('Not Allowed, Sorry!')">
            <!-- This PC -->
            <div
                title="This PC"
                class="desktop-item"
                ondblclick="$('#tab').show(); $('.desktop-item').css('background-color','transparent');"
                onmouseover="hoveredItem(this)"
                onmouseout="hoveredOut(this)"
                onclick="selectedItem(this)"
            >
                <img src="{% static 'images/webos/this-pc.png' alt="This PC" %}" />
                <p id="name">This PC</p>
            </div>

            <!-- Calculator -->
            <div
                title="Calculator"
                class="desktop-item"
                ondblclick="$('#tab-calc').show(); $('.desktop-item').css('background-color','transparent');"
                onmouseover="hoveredItem(this)"
                onmouseout="hoveredOut(this)"
                onclick="selectedItem(this)"
                >
                <img src="{% static 'images/webos/calculator.png' %}" alt="Calculator" />
                <p>Games</p>
            </div>

            <!-- Todo App -->

            <div
                title="Nothing"
                class="desktop-item"
                ondblclick="$('#tab-todo').show(); $('.desktop-item').css('background-color','transparent');"
                onmouseover="hoveredItem(this)"
                onmouseout="hoveredOut(this)"
                onclick="selectedItem(this)"
                >
                <img src="{% static 'images/webos/chat.png' %}" alt="This PC" />
                <p id="name">TyuChat</p>
            </div>
        </div>

        <div id="start-bar">
            <div
                title="Option to logout or close the tab"
                class="win-icon"
                onclick="$('#logOut').toggle().fadein(5000);"
                ></div>
            <div title="fullscreen" id="fullscreen" onclick="toggleFullScreen()">
                <i class="material-icons" style="font-size:36px" <input type="button" value="fullscreen">
                    fullscreen</i>
            </div>

            <div title="Current date and time" id="clock">
                <i
                   class="fa fa-spinner fa-spin fa-3x fa-fw"
                   style="color: rgba(255, 255, 255, 0.5)"
                   ></i>
                <span class="sr-only">Loading...</span>
            </div>
        </div>

        <div id="tab">
            <div id="tab-header" class="tab-header">
                This PC <i class="fa fa-times" onclick="$('#tab').hide()"></i>
            </div><br/>


            <div class="tab-middle">
                <iframe class="resp-iframe" src="http://www.zrmin.top:8000/webos/extend1.html/" allow="autoplay" allow="encrypted-media" allowfullscreen></iframe>
            </div>

            <div id="tab-footer">
                9 folders, 5 files, 5.00 MBss
            </div>
        </div>
        <div id="tab-calc">
            <div id="tab-calc-header" class="tab-header">
                Games
                <i class="fa fa-times" onclick="$('#tab-calc').hide(); cls();"></i>
            </div>


            <div class="tab-middle-chats2">
                <iframe class="resp2-iframe" src="http://www.zrmin.top:8000/webos/chat.html/"></iframe>
            </div>

        </div>


        <div id="tab-todo">
            <div id="tab-todo-header" class="tab-header">
                Chats <i class="fa fa-times" onclick="$('#tab-todo').hide();"></i>
            </div>
            <div class="tab-middle-chats">
                <!-- <iframe class="resp2-iframe" src="{% url 'webos:sabey' %}"></iframe> -->
                <!-- <iframe class="resp2-iframe" src="https://sabeythenoob-chat.herokuapp.com/"></iframe> -->
            </div>




        </div>


        <!-- The Logout (Windows Button) Part -->
        <div id="logOut">
            <div id="logout-btn">

                <button onclick="window.close()">关机</button>
                <br />
                <br />
                <a href="#" target="_blank">
                    联系开发者
                </a>
                <br />
                <button onClick="$('#logOut').fadeOut();localStorage.clear();alert('success');window.location.reload();"
                >
                        退出登录</button>
                <br/>
            </div>

        </div>

        <!-- Right Click Options -->
        <div class="hide" id="body-rmenu">
            <ul>
                <li
                    onclick="location.reload();"
                    >
                    刷新
                </li>
                    <li id="blaah">
                        变换桌面
                        <span style="float: right;"><i class="fa fa-arrow-right"></i></span>
                        <ul id="sub-menu">
                            <li onclick="changeBg(1)">不朽传奇</li>
                            <li onclick="changeBg(2)">胜利怒吼</li>
                            <li onclick="changeBg(3)">奔跑，不停息</li>
                            <li onclick="changeBg(4)">庆祝胜利</li>
                            <li onclick="changeBg(5)">不负众望</li>
                            <li onclick="changeBg(6)">梦剧场游子</li>
                            <li onclick="changeBg(7)">自律</li>
                            <li onclick="changeBg(8)">狂风暴雨，巍然不倒</li>
                            <li onclick="changeBg(9)">雷神</li>
                        </ul>
                    </li>
                    <li
                        onclick="alert('LinuxOnlineOS是一款Web-based 0S\n开发者：张润民、孔德华、李佳琦')"
                    >
                        About LinuxOnlineOS
                    </li>

            </ul>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="{% static 'js/webos/script.js' %}"></script>
    </body>
</html>
