{% extends "base.html" %}
{% load static %}

{% block title %}
    LinuxOnline应用中心
{% endblock title %}


{% block content %}

<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">

      <h1 class="text-center">LinuxOnline应用中心</h1>


      <div class="text-right">
        <a href="#" class="btn btn-info btn-lg">
          创建应用&nbsp;
          <span>
              <i class="fas fa-pen"></i>
          </span>
        </a>
      </div>

      <hr style="margin: 30px 0 1px 0;">
      <div class="row">

          <!-- Linux Online Terminal -->
        <div class="col-xs-3 col-sm-3" style="max-width: 200px;">
            <a href="{% url "application:terminal_info" %}" style="text-decoration: online terminal;" target="blank">
            <div class="panel">
              <div class="panel-body" style="padding: 0; margin-top: 10px;">
                <img src="https://pic.imgdb.cn/item/6256e94b239250f7c5c3c44b.png"
                     width="100%" height="120" style="border-radius: 5%" alt="Online Terminal的图标">
              </div>
              <div class="panel-footer text-center"
                style="background-color: white; ; overflow: hidden; white-space: nowrap; text-overflow: ellipsis">

                <span style="font-size: 18px; font-weight: 500; color: #3c4043; line-height: 1.25rem;">Online Terminal</span>
                <br>
                <!-- <span style="font-size: 12px; color: #3c4043;">浏览：258938</span> -->

              </div>
            </div>
          </a>
        </div>



        <!-- WebOS -->
        <div class="col-xs-3 col-sm-3" style="max-width: 200px;">
            <a href="{% url "application:webos_info" %}" style="text-decoration: webos;" target=blank>
            <div class="panel">
              <div class="panel-body" style="padding: 0; margin-top: 10px;" border-radius="50%">
                <img src="https://pic.imgdb.cn/item/625ceb16239250f7c57e3f15.png"
                  style="border-radius: 5%" width="100%" height="120" alt="WebOS的图标">
              </div>
              <div class="panel-footer text-center"
                style="background-color: white; ; overflow: hidden; white-space: nowrap; text-overflow: ellipsis">

                <span style="font-size: 18px; font-weight: 500; color: #3c4043; line-height: 1.25rem;">Browser-based Linux</span>
                <br>
                <!-- <span style="font-size: 12px; color: #3c4043;">浏览：258938</span> -->

              </div>
            </div>
          </a>
        </div>



        <!-- TyuChat -->
        <div class="col-xs-3 col-sm-3" style="max-width: 200px;">
            <a href="{% url "application:chat_info" %}" style="text-decoration: tyuchat;" target=blank>
            <div class="panel">
              <div class="panel-body" style="padding: 0; margin-top: 10px;" border-radius="50%">
                <img src="https://th.bing.com/th/id/OIP.3NBMn9N2mxdP0SMcAd68UgHaHY?pid=ImgDet&w=690&h=688&rs=1"
                  style="border-radius: 5%" width="100%" height="120" alt="TyuChat的图标">
              </div>
              <div class="panel-footer text-center"
                style="background-color: white; ; overflow: hidden; white-space: nowrap; text-overflow: ellipsis">

                <span style="font-size: 18px; font-weight: 500; color: #3c4043; line-height: 1.25rem;">TyuChat</span>
                <br>
                <!-- <span style="font-size: 12px; color: #3c4043;">浏览：258938</span> -->

              </div>
            </div>
          </a>
        </div>

        <!-- Web SSH -->
        <div class="col-xs-3 col-sm-3" style="max-width: 200px;">
            <a href="{% url "application:webssh_info" %}" style="text-decoration: webssh;" target=blank>
            <div class="panel">
              <div class="panel-body" style="padding: 0; margin-top: 10px;">
                <img src="https://pic.imgdb.cn/item/6257d5c8239250f7c5d273a2.png"
                     width="100%" height="120" style="border-radius: 5%" alt="webssh的图标">
              </div>
              <div class="panel-footer text-center"
                style="background-color: white; ; overflow: hidden; white-space: nowrap; text-overflow: ellipsis">

                <span style="font-size: 18px; font-weight: 500; color: #3c4043; line-height: 1.25rem;">Web SSH</span>
                <br>
                <!-- <span style="font-size: 12px; color: #3c4043;">浏览：258938</span> -->

              </div>
            </div>
          </a>
        </div>


      </div>
    </div>
  </div>
</div>

{% endblock content %}
