{% extends "base.html" %}
{% load static %}

{% block title %}
Tyuchat介绍
{% endblock title %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-xs-offset-0 col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-9">

      <div class="panel panel-default copy-with-link">
        <div class="panel-body">


          <h2 style="margin-top: 10px;">Tyuchat</h2>

          <div style="color: #999999; font-size:14px;">
            作者：
            <a href="{% url "userprofile:edit" 5 %}">
              <img src="http://www.zrmin.top:8000/media/avatar/20220411/head.jpg"
                alt="作者的头像" style="border-radius: 50%; vertical-align: middle; border: 0" width=24px">
              &nbsp;
              <span style="font-size: 18px;">张润民</span>
            </a>
            ,&nbsp;
            2022-04-13 21:53:30
          </div>


          <a href="http://www.zrmin.top:5000/">
          <button class="btn btn-info pull-right open-application-btn" style="border-radius: 5px;">打开应用</button>
          </a>


          <br>



          <hr style="margin-bottom: 10px;">
              <br>


              <div class="main-martor main-martor-content" data-field-name="content">
                <div class="section-martor">
                  <div class="ui bottom attached tab active martor-preview" data-tab="preview-tab-content">
                    <p>LinuxOnline的在线聊天APP</p>
                    <h4>功能</h4>
                    <ol>
                        <li>支持网站用户公共聊天、好友私聊、好友管理、联系人查找、联系人在线状态显示</li>
                        <li>点击消息框内好友用户名可跳转至好友个人空间，查看对方状态等</li>
                    </ol>
                    <p>后续会支持群聊、截图、文件传输（源文件、项目等）、语音聊天、视频聊天、表情包上传、个人签名展示等</p>
                    <p><img alt="linuxOnlineTerminal.png"
                        src="https://pic.imgdb.cn/item/6257d39e239250f7c5cecc91.png"
                        style="cursor: pointer;"></p>
                  </div>
                </div>
              </div>
              <div id="overlay"></div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>

{% endblock content %}
