{% extends "base.html" %}
{% load static %}

{% block title %}
Linux Online Ternimal介绍
{% endblock title %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-xs-offset-0 col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-9">

      <div class="panel panel-default copy-with-link">
        <div class="panel-body">


          <h2 style="margin-top: 10px;">Linux Online Terminal</h2>

          <div style="color: #999999; font-size:14px;">
            作者：
            <a href="{% url "userprofile:edit" 5 %}">
              <img src="http://www.zrmin.top:8000/media/avatar/20220411/head.jpg"
                alt="作者的头像" style="border-radius: 50%; vertical-align: middle; border: 0" width=24px">
              &nbsp;
              <span style="font-size: 18px;">张润民</span>
            </a>
            ,&nbsp;
            2022-04-13 21:53:30
          </div>


          <a href="{% url "terminal:linux_terminal" %}">
          <button class="btn btn-info pull-right open-application-btn" style="border-radius: 5px;">打开应用</button>
          </a>


          <br>



          <hr style="margin-bottom: 10px;">
              <br>


              <div class="main-martor main-martor-content" data-field-name="content">
                <div class="section-martor">
                  <div class="ui bottom attached tab active martor-preview" data-tab="preview-tab-content">
                    <p>LinuxOnline的终端应用</p>
                    <p>已实现linux常见命令及一些脑洞打开的命令。</p>
                    <h4>操作</h4>
                    <ol>
                      <li>学习linux命令：输入help获取以实现linux命令</li>
                    </ol>
                    <p>后续会支持界面风格设置、字体设置等</p>
                    <p><img alt="linuxOnlineTerminal.png"
                        src="https://pic.imgdb.cn/item/6257d39e239250f7c5cecc91.png"
                        style="cursor: pointer;"></p>
                  </div>
                </div>
              </div>
              <div id="overlay"></div>
              <script>
                $(document).ready(function () {
                  let $images = $('.main-martor-content').find("img");
                  $images.on('click', function () {
                    $('#overlay')
                      .css({ backgroundImage: `url(${this.src})` })
                      .addClass('open')
                      .one('click', function () { $(this).removeClass('open'); });
                  });

                  $images.css("cursor", "pointer");
                });
              </script>

            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>

{% endblock content %}
